<div class="container my-5">
    <h1 
        id="recipe-name" 
        class="text-center">
        {{ recipe?.name }}
        <mat-icon class="favorite" 
            aria-hidden="false" 
            aria-label="Example favorite_border icon"
            matTooltip="Favourite recipe"
            (click)="recipe?.isFavourite ? removeFavourite(recipe.favouriteId) : addFavourite(recipe)">
            {{recipe?.isFavourite? 'favorite' : 'favorite_border'}}
        </mat-icon>
    </h1>
    <p class="text-center">
        <span>
            Created by {{ recipe?.user.name }}
        </span>
        <mat-icon 
            matTooltip="Follow user"
            aria-hidden="false" 
            aria-label="Example group_add icon"
            (click)="recipe?.isFollowed ? unFollow(recipe.followId): follow(recipe.user)">
             {{recipe?.isFollowed? 'person_remove' : 'group_add'}}
        </mat-icon>
    </p> 


    <h3 class="section-heading">Ingredients:</h3>
    <ul class="section">
        <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient.amount }} - {{ ingredient.ingredient }}</li>
    </ul>

    <h3 class="section-heading">Instructions:</h3>
    <p class="section">
        {{ recipe?.description }}
    </p>
    <img [src]="recipe?.image? recipe.image : 'https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
    onerror="this.src='https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
     alt="" class="recipe-image">
</div>