<mat-tab-group mat-align-tabs="center">
    <mat-tab label="My-recipes">
        <div id="flex-container">
            <div class="flex-item-left">
                <button mat-raised-button id="new-recipe" color="accent" (click)="onNewRecipe()">New Recipe</button>
                <mat-divider></mat-divider>
                <div class="recipe mat-elevation-z2" *ngFor="let recipe of recipes; let i = index; trackBy: trackRecipe" (click)="onSelected(recipe, i)" [class.active]="selectedIndex == i">
                    <h3>{{ recipe.name }}</h3> 
                    <div class="img-container">
                        <img [src]="recipe.image? recipe.image : 'https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
                        onerror="this.src='https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
                         alt="" class="recipe-image">
                    </div>

                </div>
            </div>

            <div class="flex-item-right">
                <!-- <router-outlet></router-outlet> -->
                <!-- <app-selected-recipe [recipe]="selectedRecipe" *ngSwitchCase="'selectedRecipe'" (onUpdate)="onUpdateSelectedRecipe()"></app-selected-recipe>

                <app-new-recipe *ngSwitchCase="'newRecipe'" (onSubmit)="onNewRecipeCreated()"></app-new-recipe> -->
            
                <router-outlet></router-outlet>
            </div>  


        </div>

    </mat-tab>
    <mat-tab label="Favorites">Content </mat-tab>
</mat-tab-group>

