<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Recipes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td class="user-name">{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td class="recipes" [routerLink]="['/users', user.id, 'recipes']">Recipes</td>
            <td>
                <button mat-stroked-button color='primary' (click)="makeAdmin(user)">admin</button>
            </td>
            <td>
                <button mat-stroked-button color='primary' (click)="makeUser(user)">user</button>
            </td>
            <td>
                <button mat-stroked-button color='warn' (click)="openDialog(user)">Delete</button>
            </td>

        </tr>
    </tbody>
</table>