<mat-form-field appearance="fill" id ="select-statistic">
  <mat-label>Select Statistic</mat-label>
  <mat-select #statisticType #statisticType (selectionChange)="onChange(statisticType)" name="statisticType" >
    <mat-option *ngFor="let statistic of statisticsList" [value]="statistic.value">
      {{statistic.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div nz-row>
  <div nz-col nzSpan="12">
    <div id="chart1" 
          echarts 
          [options]="options"
          theme="walden" 
          class="demo-chart mat-elevation-z2"
          [autoResize]="true"
          >
      </div>
  </div>
</div>




  

  <!-- <echarts [initOpts]="initOpts" [options]="options4" ></echarts> -->