/* Container */
.container {
	width: 35%;
	margin: 5% 33%;
}


/* Header */
#header {
	margin-top: 4%;
	text-align: center;
}


/* Single follower */
.follower {
	border: 2px solid #eee;
	height: 9vh;
	cursor: pointer;
	vertical-align: middle;
}


/* Image container */
.img-container {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 10%;
	margin: auto 1%;
}

/* image */
.user-image {
	width: 70px;
	margin: 10% auto;
	vertical-align: middle;
}


/* Text container */
.text-container {
	display: inline-block;
	width: 70%;
	margin-left: 8%;
	vertical-align: sub;
}

.text-container > p {
	display: inline-block;

}

.text-container > .mat-icon {
	float: right;
	cursor: pointer;
	vertical-align: middle;
}


/* active class on recipe */
.active{ 
	background-color: #f1f1f1;
}


/* screens less than 1300px */
@media screen and (max-width: 1300px) {
	.container {
		width: 40%;
		margin: 5% 30%;
	}

	/* Image container */
	.img-container {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: 10%;
		margin: auto 1%;
	}

	/* Text container */
	.text-container {
		display: inline-block;
		width: 70%;
		margin-left: 10%;
		vertical-align: sub;
	}
}



/* screens less than 1300px */
@media screen and (max-width: 1000px) {
	.container {
		width: 60%;
		margin: 5% 20%;
	}

	/* Image container */
	.img-container {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: 10%;
		margin: auto 1%;
	}

	/* Text container */
	.text-container {
		display: inline-block;
		width: 70%;
		margin-left: 12%;
		vertical-align: sub;
	}
}