<h1 id="header">You are following {{ followees?.length }} users</h1>
<div class="container" [@followsAnimation]="followees.length">
    <div class="follower active mat-elevation-z2" 
        *ngFor="let followee of followees"
        @followAnimation>
        <div class="img-container">
            <img class="user-image" [src]="'assets/' + followee?.image">
        </div>
        <div class="text-container">
            <h3 [routerLink]="['/users', followee.user.id]">{{followee.user.name}}</h3>
            <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon" (click)="unFollow(followee.followId)">remove_circle_outline</mat-icon>
        </div>
    </div>
</div>