<div class="container">
    <div *ngIf="favourites" [@favouritesAnimation]="favourites.length">
        <div @favouriteAnimation class="favourite active mat-elevation-z2" 
            *ngFor="let favourite of favourites ; let i = index; 
            trackBy: trackRecipe">
            <div class="img-container">
                <img [src]="favourite.image? favourite.image : 'https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
                onerror="this.src='https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
                alt="" class="recipe-image">
            </div>
            <div class="text-container">
                <h3 [routerLink]="['/recipes', favourite.id]">{{ favourite.name }}</h3> <p>Created by </p> {{favourite.user.name}}
                <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon" (click)="remove(favourite.favouriteId)">remove_circle_outline</mat-icon>
            </div>
        </div>
    </div>
</div>