<div class="container">
    <div class="favourite active mat-elevation-z2">
        <div class="img-container">
            <img src="https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg" alt="" class="recipe-image">
        </div>
        <div class="text-container">
            <h3>Recipe Name</h3> <p>Created by user</p>
            <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon">remove_circle_outline</mat-icon>
        </div>
    </div>
    <div class="favourite mat-elevation-z2">
        <div class="img-container">
            <img src="https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg"
             alt="" class="recipe-image">
        </div>
        <div class="text-container">
            <h3>Recipe Name</h3> <p>Created by user</p>
            <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon">remove_circle_outline</mat-icon>
        </div>
    </div>
    <div class="favourite mat-elevation-z2">
        <div class="img-container">
            <img src="https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg"
            onerror="this.src='https://bg-foods-ortega.s3.amazonaws.com/asset/recipe%20placeholder.jpg'"
             alt="" class="recipe-image">
        </div>
        <div class="text-container">
            <h3>Recipe Name</h3> <p>Created by user</p>
            <mat-icon aria-hidden="false" aria-label="Example remove_circle_outline icon">remove_circle_outline</mat-icon>
        </div>
    </div>
</div>