<div id="flex-container" class="mat-elevation-z4">
    <div class="flex-item-left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROa-v3M7qp_Po1Bw2zSgueCCbIPCKlrptQrA&usqp=CAU" alt="">
    </div>
    <div class="flex-item-right">
        <h1><span id="name">{{ profile?.user?.name }}</span></h1>
        <div id="container">
            <div class="flex-left">
                <p class="title">Recipes</p>
                <p class="number">{{ profile?.recipesNr }}</p>
            </div>
            <div class="flex-right">
                <p class="title">followers</p>
                <p class="number">{{ profile?.followersNr }}</p>
            </div>
        </div>
        <p id="email"><span id="emailHeading">Email </span>{{ profile?.user?.email }}</p>
    </div>
    <!-- <p><span>Favourites </span>34</p> -->
</div>