<!--Navbar-->
<mdb-navbar class="customNav" SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Cookery</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" href="/"  mdbWavesEffect>Recipe Book<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" href="profile" mdbWavesEffect>My Recipes</a>
        </li>
       
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
         <!-- Dropdown -->
         <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Account<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Login</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Register</a>
          </div>
        </li>
        
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>

  <div class="container-fluid my-5">

    <form class="example-form center-form">
        <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>

        <input 
            type="text" 
            matInput 
            [formControl]="myControl"
            [(ngModel)]="searchText" 
            name="searchText"
            (keyup)="onKey()">
        <mat-icon id="search" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
    <!-- {{'filtered ' + filteredRecipesArr?.length}}
    <br>
    {{ 'recipe ' + recipes?.length}}
    <br>
    {{'i ' + i}}
    <br>
    {{'Dierction ' + direction}} -->

    <div class="flex-container mat-elevation-z6" [style.width.%]="flexWidth" [ngStyle]="{'margin-left': flexWidth == 70? '15%': '25%'}">
        <div class="prev-next-container">
            <span class="previous" (click)="previous()">
                <mat-icon id="search" matSuffix>arrow_back_ios</mat-icon>
            </span>
        </div>
        <div class="prev-next-container right">
            <span class="next" (click)="next()"> 
                <mat-icon id="search" matSuffix>arrow_forward_ios</mat-icon>
            </span>
        </div>
        <div class="flex-item" *ngFor="let recipe of filteredRecipesArr || recipes">
            <img [src]="recipe.image" alt="">
            <div class="recipe-text">
                <mat-icon class="favorite" 
                            aria-hidden="false" 
                            aria-label="Example favorite_border icon"
                            (click)="firstRecipeFavorite = !isFavorite">
                        {{isFavorite? 'favorite' : 'favorite_border'}}</mat-icon>

                <h1>{{ recipe.name }}</h1>
            </div>        
        </div>
    </div>
    <mat-paginator *ngIf="searchText && filteredRecipes?.length > 0" 
                    [length]="filteredRecipes?.length"
                    [pageSize]="2">
    </mat-paginator>


</div>
