<!-- SEARCH -->
<div class="container-fluid my-5">

    <form class="example-form center-form">
        <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>

        <input 
            type="text" 
            matInput 
            [formControl]="myControl"
            [(ngModel)]="searchText" 
            name="searchText"
            (keyup)="onKey()">
        <mat-icon id="search" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
    <!-- {{'filtered ' + filteredRecipesArr?.length}}
    <br>
    {{ 'recipe ' + recipes?.length}}
    <br>
    {{'i ' + i}}
    <br>
    {{'Dierction ' + direction}} -->

    <!-- RECIPES -->
    <div class="flex-container mat-elevation-z6" [style.width.%]="flexWidth" [ngStyle]="{'margin-left': flexWidth == 70? '15%': '25%'}">
        <div class="prev-next-container">
            <span class="previous" (click)="previous()">
                <mat-icon id="search" matSuffix>arrow_back_ios</mat-icon>
            </span>
        </div>
        <div class="prev-next-container right">
            <span class="next" (click)="next()"> 
                <mat-icon id="search" matSuffix>arrow_forward_ios</mat-icon>
            </span>
        </div>
        <div class="flex-item" *ngFor="let recipe of filteredRecipesArr || recipes">
            <img [src]="recipe.image" alt="">
            <div class="recipe-text">
                <mat-icon class="favorite" 
                            aria-hidden="false" 
                            aria-label="Example favorite_border icon"
                            (click)="isFavorite = !isFavorite">
                        {{isFavorite? 'favorite' : 'favorite_border'}}</mat-icon>

                <h1>{{ recipe.name }}</h1>
            </div>        
        </div>
    </div>
    <!-- PAGINATOR -->
    <mat-paginator *ngIf="searchText && filteredRecipes?.length > 0" 
                    [length]="filteredRecipes?.length"
                    [pageSize]="2">
    </mat-paginator>

</div>
